.mycalc{
  boder: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 10px;
  background-color:  greenyellow;
}

.all-btn{
  display: flex;

}

.all-btn-numbers{
  display: flex;
  width: 210px;
  flex-wrap: wrap;
}


.all-btn-signs{
  display: flex;
  flex-direction: column;
}

.all-btn-numbers button{
  background-color:white ;
  border: none;
  margin: 10px;
  color: #523e02;
  font-size: 20px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-btn-signs button{
  background-color: #b6effb;
  border: none;
  margin: 10px;
  color: #523e02;
  font-size: 20px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.all-btn-signs button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px beige;
}

.all-btn-numbers button:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px 5px beige;
}

.btn-extra{
  display: flex;
}

.btn-extra button{
  background-color: skyblue;
  color: #6a1a21;
}

.btn-extra button:hover{
  box-shadow: 0px 0px 20px 5px beige;
}

.btn-clear-equals{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.btn-clear-equals button{
  width: 120px;
  font-size: 30px;
  padding: 5px;
  margin: 10px 5px;
  border-radius: 10px;
  border: none;
}

#clear{
  color: darkorange;
  background-color: #191c1f;
}

#equals{
  color: darkorange;
  background-color: #191c1f;
}

#clear:hover, #equals:hover{
  cursor: pointer;
  background-color: white;
}

input{
  width: 80%;
  margin: 10px 0px;
  font-size: 20px;
  padding: 10px;
  font-weight: 700;
  border-radius: 15px;
  border: 1px solid black;
}

input:focus{
  outline: none;
  border: 1px solid grey;
}


